<ion-header>
  <ion-toolbar>
    <ion-title>Contact Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="background-image" ></div>
  <div class="container" >
    <div class="row">
      <div class="col-lg-4 col-md-12" data-aos="fade-right" data-aos-delay="100">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4><i class="bi bi-geo-alt"></i> Adress:</h4>
            <p>USA</p>
          </div>
          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4><i class="bi bi-envelope"></i> Email:</h4>
            <p>mihabapp@support.com</p>
          </div>
          <div class="phone">
            <i class="bi bi-phone"></i>
            <h4><i class="bi bi-phone"></i> Phone Number:</h4>
            <p>+1 123456789</p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12" data-aos="fade-left" data-aos-delay="200">

        <form   role="form" [formGroup]="formValidation">
          <div class="form-group">
            <input type="text" formControlName="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="subject" id="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" formControlName="message" rows="5" placeholder="Message" required></textarea>
          </div>
          <div class="text-center"><button [disabled]="!formValidation.valid" type="submit" class="btn btn-primary" (click)="contact(formValidation.value)" >Send Message</button></div>
        </form>

      </div>

    </div>

  </div>
</ion-content>
