<div>
  <ion-item class="content-item1">
    <ion-card class="content-card1"  >
      <ion-item class="cardItem"  color="warning">

        <h2 class="username">
            username
          </h2>
        <p class="postTime"> date </p>
        <p text-wrap class="postCity">  @city,country </p>
      </ion-item>
      <div style="width: 100%;"    >
        <img class="postImage" src="">
      </div >
      <ion-card-content>

        <p text-wrap class="post">post </p>
      </ion-card-content>
     <ion-row>
        <ion-col>
          <ion-button ion-button icon-left clear   >
            <ion-icon name="thumbs-up"    ></ion-icon>
            <div></div>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button ion-button icon-left clear   >
            <ion-icon name="document-text-outline" ></ion-icon>
            <div></div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-item>
</div>
