<ion-header >
  <ion-toolbar mode="md">
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
      <ion-buttons slot="start" >
        <ion-title >MiHab</ion-title>
        <ion-item lines="none" >
            <ion-icon  name="power-outline" color="danger" item-start (click)="logout()" ></ion-icon>
        </ion-item>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-menu contentId="main-content" side="start" >
    <ion-header>
      <img  alt="" src="http://res.cloudinary.com/dq1utqamt/image/upload/v{{imgVersion}}/{{imgId}}" />
      <div class="image-upload-container">
        <div class="camera-icon-container" (click)="takePhoto()">
          <ion-icon name="camera-outline" class="camera-icon"></ion-icon>
        </div>
        <div class="upload-button-container"  *ngIf="uploadimage" >
          <ion-button color="success" fill="outline" shape="round" fill="clear" (click)="uploadPicture()">
            <ion-icon name="cloud-upload-outline"></ion-icon>
            <span>Add Photo</span>
          </ion-button>
        </div>
      </div>
      <ion-label class="username"> {{username}}
    </ion-label>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-item lines="none" class="account" routerLink="../profile">
          <ion-label  >Account</ion-label>
          <ion-icon slot="start" name="information-circle-outline" ></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none" class="setting" routerLink="../about" >
          <ion-label >Settings</ion-label>
          <ion-icon slot="start" name="cog"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none" class="ideal" routerLink="../idealista">
          <ion-label  >Idelaista</ion-label>
          <ion-icon slot="start" name="heart"></ion-icon>
        </ion-item>
      </ion-list>
       <ion-list>
        <ion-item lines="none" class="app" (click)="share()" >
          <ion-label  >Share App</ion-label>
          <ion-icon slot="start" name="share-social-outline"  mode="ios" ></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none" class="valor" (click)="valorate()">
        <ion-label  >Valorate the app</ion-label>
        <ion-icon slot="start" name="heart"></ion-icon>
      </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none" class="contact" routerLink="../contact">
          <ion-label  >Contacts</ion-label>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item lines="none" class="survey" routerLink="../survey">
          <ion-label >Survey</ion-label>
          <ion-icon slot="start" name="document-text-outline"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
      <ion-item lines="none" class="home" (click)="logout()">
      <ion-label >Log Out</ion-label>
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      </ion-item>
      </ion-list>

    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>


    </ion-header>
  </div>
  <ion-content class="ion-padding" >
    <div class="background-image" ></div>
     <ion-card>
      <ion-card-header>
        <ion-card-title>Find your next room with <b>MiHab</b> </ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        The Best    <b>Room</b>  Search App
      </ion-card-content>
    </ion-card>
    <div class="button-container">
      <ion-button color="dark" class="btn" shape="round" routerLink="../search">
        <ion-icon color="warning" slot="start" name="search-outline"></ion-icon>Search
      </ion-button>
      <ion-button color="dark" class="btn" shape="round" routerLink="../newadd">
        <ion-icon slot="start" name="add-outline"></ion-icon>New Post
      </ion-button>
    </div>
  </ion-content>
