
<ion-content class="ion-padding" >
  <div class="background-image"></div>
  <form *ngIf="formValidation"  [formGroup]="formValidation" (ngSubmit)="OnPasswordChange(formValidation.value)" >
    <ion-label class="title" color="primary" stacked>Change Paswword</ion-label>
    <ion-item lines="none" class="input-field">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" formControlName="cpassword" class="form-control" placeholder=" Current Password "></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of formValidationMessages.cpassword">
      <p class="error" *ngIf="!formValidation.controls['cpassword'].valid && formValidation.controls['cpassword'].touched">
        {{ validation.message }}
      </p>
    </ng-container>

    <ion-item lines="none" class="input-field">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" formControlName="newpassword" class="form-control" placeholder="New Paswword"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of formValidationMessages.newpassword">
      <p class="error" *ngIf="!formValidation.controls['newpassword'].valid && formValidation.controls['newpassword'].touched">
        {{ validation.message }}
      </p>
    </ng-container>

    <ion-item lines="none" class="input-field">
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-input type="password" formControlName="confirmpassword" class="form-control" placeholder="Confirm new password"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of formValidationMessages.confirmpassword">
      <p class="error" *ngIf="!formValidation.controls['confirmpassword'].valid && formValidation.controls['confirmpassword'].touched">
        {{ validation.message }}
      </p>
    </ng-container>

    <p class="error" *ngIf="formValidation.errors">{{ errorMessage }}</p>
<div class="input-field2">
  <ion-button type="submit" class="button"  [disabled]="!formValidation.valid">
    Confirm
  </ion-button>
</div>


  </form>
</ion-content>

<ion-footer >
  <ion-segment [scrollable]="true" value="heart" mode="ios">
    <ion-segment-button value="home" routerLink="../principal">
      <ion-icon name="home-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="globe" routerLink="../about">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="person" routerLink="../profile">
      <ion-icon name="person-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>

