<ion-header>
  <div class="header-container">
    <img src="../../assets/icon/MI HAB.png" alt="Mi Hab logo" class="logo">
    <h1 class="header-title">Mi Hab</h1>
    <p class="header-subtitle">Your best app to find a room</p>
  </div>
</ion-header>
<ion-content class="content" class="ion-padding">

  <div >
    <img class="img-studio54" src="../../assets/icon/fhEwgb.gif" width="150%" >
  </div>
  <div class="actions">
    <ion-button class="signup" expand="block" mode="ios" routerLink="../login" color="dark"  >Log in</ion-button>
    <p class="login">¿You are not a MiHab user? <a routerLink="../register">Registre Now </a></p>
</div>
</ion-content>
